
.thubnail {
    width: 400px;
    display: block;
}

.Search-bar {
    font-size: 20px;
    margin-left: 2px;
    display: block;
}
.video-title {
    font-size: 15;
    width: 400px;
}
.video-author,
.video-stats {
    display: block;
}
.video_pre{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}